.heading {
    text-align: center;
}

.userlist {
    border: solid black 1px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}

.userform {
    border: solid red 1px;
    padding: 50px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.userform form {
    text-align: center;
}
.userform form div {
    margin-bottom: 10px;
}
input[type=text] {
    width: 300px;
}
input[type=email] {
    width: 300px;
}

.tutorial {
    border: solid green 1px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
.tutorial code {
    color: red;
}